.lobby-container {
    text-align: center;
    margin-top: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* Adjust the width of grid items */
    grid-gap: 40px;
    /* Adjust the gap between grid items */
}

.grid-item {
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.grid-item img {
    display: block;
    margin: 0 auto 10px;
    /* Center the images vertically */
}